* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
body {
    font-family: 'Montserrat', sans-serif;;
    height: 100vh;
    background: linear-gradient(45deg, #d8f2f3 0%, #ebf9f9 100%);
}
.card, .front-side,
.contents, .contents-back, .back-side {
    position: absolute;
}
.card {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 290px;
    transform-style: preserve-3d;
    perspective: 10000px;
}
.card:hover .back-side {
    transform: rotateY(180deg);
}
.card:hover .front-side {
    transform: rotateY(-180deg);
}
.front-side, .back-side {
    background-image: url(./images/bg-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    text-align: center;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: all 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}
.contents {
    left: 0;
    top: 70%;
    text-shadow: 5px 5px 5px #000   ;
    width: 100%;
    perspective: 100px;
    transform: translateY(-50%) translateZ(60px) scale(0.94);
}
.front p {
    color: #fff;
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 15px;
}
.front span {
    color: #fff;
    font-size: 23px;
    margin-bottom: 15px;
}
.front p::after {
    content: "";
    display: block;
    top: 10px;
    left: 0;
    right: 0;
    height: 2px;
    width: 150px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #fff;

}
.back-side {
    background-image: url(./images/back.jpg);
    background-position: center;
    background-size: cover;
    transform: rotateY(180deg);
    /* background: linear-gradient(45deg, #043348 0%, #032535 100%); */
}
.back {
    color: #fff;
}

.contents-back {
    left: 0;
    top: 50%;
    text-shadow: 5px 5px 5px #000   ;
    width: 100%;
    perspective: 100px;
    transform: translateY(-50%) translateZ(60px) scale(0.94);
}
.back h2 {
    font-size: 33px;
    padding-bottom: 5px;
}
.back .icons {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    font-size: 35px;
}
.back i {
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
}

